<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="intervenant">
            <h2><span jhiTranslate="jhipsterElMoApp.intervenant.detail.title">Intervenant</span> {{intervenant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterElMoApp.intervenant.firstName" [ngbTooltip]="'jhipsterElMoApp.intervenant.help.firstName' | translate">First Name</span></dt>
                <dd>
                    <span>{{intervenant.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElMoApp.intervenant.lastName">Last Name</span></dt>
                <dd>
                    <span>{{intervenant.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElMoApp.intervenant.email">Email</span></dt>
                <dd>
                    <span>{{intervenant.email}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterElMoApp.intervenant.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{intervenant.phoneNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/intervenant', intervenant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
