<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterElMoApp.consentement.home.title">Consentements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-consentement" [routerLink]="['/consentement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterElMoApp.consentement.home.createLabel">
            Create a new Consentement
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterElMoApp.consentement.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="consentements?.length === 0">
        <span jhiTranslate="jhipsterElMoApp.consentement.home.notFound">No consentements found</span>
    </div>
    <div class="table-responsive" *ngIf="consentements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.consentement.typeConsentement">Type Consentement</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.consentement.dateConsentement">Date Consentement</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.consentement.consentementRecherche">Consentement Recherche</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.consentement.consentementPDF">Consentement PDF</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.consentement.dateSupprimerConsentement">Date Supprimer Consentement</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.consentement.patient">Patient</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let consentement of consentements ;trackBy: trackId">
                <td><a [routerLink]="['/consentement', consentement.id, 'view' ]">{{consentement.id}}</a></td>
                <td jhiTranslate="{{'jhipsterElMoApp.TypeConsentement.' + consentement.typeConsentement}}">{{consentement.typeConsentement}}</td>
                <td>{{consentement.dateConsentement | date:'medium'}}</td>
                <td>{{consentement.consentementRecherche}}</td>
                <td>
                    <a *ngIf="consentement.consentementPDF" (click)="openFile(consentement.consentementPDFContentType, consentement.consentementPDF)">
                        <img [src]="'data:' + consentement.consentementPDFContentType + ';base64,' + consentement.consentementPDF" style="max-height: 30px;" alt="consentement image"/>
                    </a>
                    <span *ngIf="consentement.consentementPDF">{{consentement.consentementPDFContentType}}, {{byteSize(consentement.consentementPDF)}}</span>
                </td>
                <td>{{consentement.dateSupprimerConsentement | date:'medium'}}</td>
                <td>
                    <div *ngIf="consentement.patient">
                        <a [routerLink]="['/patient', consentement.patient?.id, 'view' ]" >{{consentement.patient?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/consentement', consentement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consentement', consentement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(consentement)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
