<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterElMoApp.attachementDemandeDeService.home.title">Attachement Demande De Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attachement-demande-de-service" [routerLink]="['/attachement-demande-de-service/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterElMoApp.attachementDemandeDeService.home.createLabel">
            Create a new Attachement Demande De Service
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterElMoApp.attachementDemandeDeService.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="attachementDemandeDeServices?.length === 0">
        <span jhiTranslate="jhipsterElMoApp.attachementDemandeDeService.home.notFound">No attachementDemandeDeServices found</span>
    </div>
    <div class="table-responsive" *ngIf="attachementDemandeDeServices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.attachementDemandeDeService.nom">Nom</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.attachementDemandeDeService.fichier">Fichier</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.attachementDemandeDeService.refExterne">Ref Externe</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.attachementDemandeDeService.note">Note</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterElMoApp.attachementDemandeDeService.ref">Ref</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attachementDemandeDeService of attachementDemandeDeServices ;trackBy: trackId">
                <td><a [routerLink]="['/attachement-demande-de-service', attachementDemandeDeService.id, 'view' ]">{{attachementDemandeDeService.id}}</a></td>
                <td>{{attachementDemandeDeService.nom}}</td>
                <td>
                    <a *ngIf="attachementDemandeDeService.fichier" (click)="openFile(attachementDemandeDeService.fichierContentType, attachementDemandeDeService.fichier)">
                        <img [src]="'data:' + attachementDemandeDeService.fichierContentType + ';base64,' + attachementDemandeDeService.fichier" style="max-height: 30px;" alt="attachementDemandeDeService image"/>
                    </a>
                    <span *ngIf="attachementDemandeDeService.fichier">{{attachementDemandeDeService.fichierContentType}}, {{byteSize(attachementDemandeDeService.fichier)}}</span>
                </td>
                <td>{{attachementDemandeDeService.refExterne}}</td>
                <td>{{attachementDemandeDeService.note}}</td>
                <td>
                    <div *ngIf="attachementDemandeDeService.ref">
                        <a [routerLink]="['/demande-de-service', attachementDemandeDeService.ref?.id, 'view' ]" >{{attachementDemandeDeService.ref?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/attachement-demande-de-service', attachementDemandeDeService.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/attachement-demande-de-service', attachementDemandeDeService.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(attachementDemandeDeService)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
